@import "tailwindcss";

@theme {
  --color-primary: #7f220e;
  --color-secondary: #f26a23;
  --color-text: #979797;
  --font-sans: var(--font-poppins);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  /* Font is now handled by layout.tsx and tailwind variable mapping */
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
